.div {
  padding-left: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  grid-column-gap: 20px;
  background-color: lightblue;
}
.lista {
  display: inline-block;
  list-style-type: disc;
}
.rojo{
  color:red;
}